@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900&subset=cyrillic');
body {
    font-family: Roboto, sans-serif;
}

img {
    display: block;
}


/* To book styles 
 *  ---------------------- */
.reserve__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calendar__wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 540px;
    max-height: unset;
    transition: 0.4s;
    overflow: hidden;
}

.calendar__wrapper.hide {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

.reserve__wrapper {
    /*    display: block;
    border: 2px solid #fff;
    margin: auto;
    max-width: 540px;
    transition: 0.4s;
    background: linear-gradient(to top, #050F2A, #051B32);
    padding: 20px 10px;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;*/
    width: 95%;
    max-width: 850px;
    max-height: 95vh;
    height: auto;
    height: fit-content;
}
    .reserve__wrapper::-webkit-scrollbar {
        background-color: #fff;
    }
    .reserve__wrapper::-webkit-scrollbar-thumb {
        background-color: #333;
    }
    .btn:focus {
        box-shadow: none;
    }
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background: #ec4848;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #ec4848;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    color: #333;
    font-weight: 600;
    padding-left: 25px;
    margin-right: 20px;
}
.reserve__list-item.busy {
    pointer-events: none;
    opacity: 0.3;
}
.btn-blue {
    background: rgba(255,255,255,0.1);
    color: #fff;
    /*box-shadow: 1px 2px 2px #444, 0 0 1em #fff;*/
    transition: 0.4s;
    text-transform: uppercase;
    margin-left: 5px;
}
.btn-cta {
    background: #ec4848;
    box-shadow: 1px 2px 2px #444, 0 0 1em #fff;
    transition: 0.4s;
    text-transform: uppercase;
}
.btn-blue:hover {
    background: rgba(255,255,255,0.2);
}
.btn-cta:hover {
    box-shadow: 1px 1px 1px #777, 0 0 0.5em #fff;
}

.modal-dialog {
    margin: 0;
    width: 100%;
}
.modal .modal-content {
    padding: 0 15px;
}
.modal-header {
    margin-bottom: 10px;
    padding-bottom: 5px;
}
    .modal-header .close {
    font-size: 50px;
    line-height: 1;
}
.modal-title {
    padding-right: 30px;
    text-align: center;
}
.btn-gray {
    background: #333;
}
.reserve__wrapper.hide {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}
.reserve__time-list {
    padding: 0;
}
.reserve__list-item {
    cursor: pointer;
    position: relative;
    text-align: left;
    padding: 3px 3px 3px 15px;
}
[type="checkbox"] + label {
    padding-left: 25px;
}
.reserve__places {
    color: #000;
}
.reserve__list-item label:before {
    /* content: '';
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
 */ border: 2px solid #000;
}
    .reserve__list-item, 
    .reserve__list-item .reserve__time,
    .reserve__list-item .reserve__places {
        transition:0.2s;
    }
.reserve__list-item label:hover:before {
    border-color: #ec4848;
    color: #ec4848;
}
        .reserve__list-item input:checked + label:before {
            border-color: #ec4848;
            color: #ec4848;
            border-left: 0;
            border-top: 0;
        }
        .reserve__contacts {
          
        }
        .reserve__list-item:hover .reserve__time,
        .reserve__list-item:hover .reserve__places {
            color: #ec4848;
        }
.reserve__title {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.reserve__day-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reserve__day {
    font-size: 22px;
    margin: 5px 10px;
    font-weight: 600;
    color: #fff;
}
.reserve__time {
    font-weight: 600;
    color: #000;
}
    .reserve__places {
        font-weight:400;
    }
.calendar__month-name {
    text-align: center;
    line-height: 50px;
}
.reserve__wrapper input {
    border-radius: 5px;
    border: 0;
    padding: 5px;
    height: 35px;
    color: #000;
    background: #eceeef;
    margin: 0 0 10px;
    width: calc(100% - 15px);
}
[type="checkbox"] + label {
    margin-bottom: 4px;
}
.btn-minus {
    padding: 0 7px;
}

.btn-plus {
    padding: 0 7px;
}
.btn-minus img {
    width: 20px;
    height: 30px; 
    transform: rotate(180deg);
}
.btn-plus img {
    width: 20px;
    height: 30px;
}
.reserve__message .alert-danger,
.reserve__message .alert-success {
    display: block;
    margin-bottom: 10px;
}
#calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    width:440px;
}

    #calendar > div {
        font-size: 18px;
        padding: 5px;
        background: rgba(51,51,51,0.6);
        text-align: center;
        transition: 0.3s;
        color: #fff;
    }


        #calendar > div.empty-cell {
            background: rgba(51,51,51,0.4);
            color: #fff;
        }

        #calendar > div.active {
            background: rgba(51,51,51,1);
            color: #fff;
        }

        #calendar > div.active, #calendar .cell a {
            color: #fff;
        }
            #calendar > div.active:hover, #calendar .weekday {
       background: #ec4848;
    }

    .calendar__day {
        display: block;
    }
.calendar__head {
    font-size: 24px;
}
.calendar__places {
    display: block;
    font-size: 13px;
}

.calendar__wrapper .cell {
    pointer-events:none;
}

.calendar__wrapper .cell.active {
    cursor: pointer;
    pointer-events: all;
}

.calendar__arrow {
    position: absolute;
    top: 3px;
    cursor: pointer;
    outline: none;
    background: rgb(51,51,51);
    padding-left: 0;
    padding: 8px 2px;
}
.calendar__arrow:hover {
    background:#ec4848; 
}
    .calendar__arrow img {
        color:#333;
    }
    .calendar__arrow-left, .calendar__arrow-right {
    }

    .calendar__arrow-left img, .calendar__arrow-right img {
        width: 40px;
        height: 25px;
    }
.calendar__arrow-left {
    left: 0;
}

.calendar__arrow-right {
    right: 0;
}
.calendar__arrow-left img {
    transform: rotate(180deg);
}
.reserve-day-prev, .reserve-day-next {
    display: inline;
    position: relative;
    top: -2px;
}

.calendar__form {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}

    .calendar__form.show {
        display: block !important;
    }

.reserve__buttons-wrapper {
    text-align: center;
}
.reserve__buttons {
    margin: 10px 0; 

}
.btn-group span {
    padding: 5px 10px;
}

.reverse__time-list {
    flex-direction: column;
}

.reserve__list-item {
    cursor: pointer;
}

    .reserve__list-item.busy {
        color: grey;
    }
button:focus {
    background: #ec4848;
}
.modal-content {
    border: 0;
}
    .modal-content h4 {
        margin: 5px 0;
    }
.modal-footer {
    border: 0;
    padding: 0 20px 0 15px !important;
}
@media (max-width: 768px) {
    .no-mobile {
        display: none;
    }
    .calendar__arrow-left img, .calendar__arrow-right img {
            width: 30px;
            height: 20px;
        }
    }

@media (max-width: 500px){
    #calendar {
        grid-gap: 1px;
        width: 267px;
    }
        #calendar > div {
            font-size: 14px;
            padding: 1px;
        }
    .calendar__places {
        font-size: 9px;
    }
}

@media (max-width: 450px) {
    .reserve__list-item {
        padding-left: 5px;
    }
    .reserve__wrapper input {
        height: 25px;
    }
    .modal-title {
        padding-right: 10px;
        margin: 0 -15px !important;
    }
    .calendar__arrow-left img, .calendar__arrow-right img {
        width: 20px;
        height: 15px;
    }
    .modal-header .close {
        position: absolute;
        right: 0;
        top: -9px;
    }
}

/**Temporary hidden */
.service_btn {
    display: none;
}